@charset "UTF-8";

/* .backgroundImage {
	width: 100%;
	background-image: url(../images/pen-pals.jpg);
	border-bottom: 1px solid #45a99c;
	background-size: cover;
	display: flex;
}

.login-box {
	height: 120px;
	width: 20%;
	margin: auto;
	margin-top:20%;
	background: rgba(101, 123, 137, 0.8);
	display: flex;
}

#login {
	margin: auto;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	font-family: "맑은 고딕", "고딕", sans-serif;
	text-decoration: none;
	color: black;
}
#login:hover {
	color: #ff6a00;
} */